<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Grilld Admin - all clients</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<main>
    <div class="margin_auto">
        <h1><a class="btn_log" href="/logout" th:if="${session.logged == true}">log out</a> Admin Panel - <a
                href="dishes">dishes</a> | <a href="clients">[clients]</a></h1><br/>
        <div class="flex" th:if="${clients != null}">
            <table class="info_table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tlf</th>
                    <th scope="col">Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client:${clients}">
                    <td th:text="${client.id}"></td>
                    <td th:text="${client.tlf}"></td>
                    <td th:text="${client.name}"></td>
                    <td><a class="btn_edit">Edit</a><a class="btn_delete" th:href="@{'clients/delete/' + ${client.id}}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${message != null}">
                <span class="msg" th:text="${message}"></span>
            </div>
        </div>
    </div>
</main>
</body>
</html>