<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Grilld Admin - all dishes</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<main>
    <div class="margin_auto">
        <h1><a class="btn_log" href="/logout" th:if="${session.logged == true}">log out</a> Admin Panel - <a
                href="dishes">[dishes]</a> | <a href="clients">clients</a></h1><br/>
        <a class="btn_add" href="dishes/add">Add</a><br/><br/>
        <div class="flex" th:if="${dishes != null}">
            <table class="info_table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Meal</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Display?</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dish:${dishes}">
                    <td th:text="${dish.id}"></td>
                    <td th:text="${dish.name}"></td>
                    <td th:text="${dish.meal.type}"></td>
                    <td th:text="${dish.desc}"></td>
                    <td th:text="${dish.price}"></td>
                    <td th:text="${dish.available}"></td>

                    <td>
                        <a class="btn_edit">Edit</a>
                        <a class="btn_delete" th:href="@{'dishes/delete/' + ${dish.id}}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${message != null}">
                <span class="msg" th:text="${message}"></span>
            </div>
        </div>
    </div>
</main>
</body>
</html>