<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><img style="max-height: 60px" src="/images/logo2.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>




      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Restaurants</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/menu">Menu</a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/login/1">Manager Login</a>
              <a class="dropdown-item" href="/login/2">Staff Login</a>
              <a class="dropdown-item" href="/login/3">Customer Login</a>
            </div>
          </li>


        </ul>
        <form class="form-group">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  <h2>Menu</h2>
    <form th:object="${dish}" method="post" onsubmit=" return isEmpty(this)">

      <div class="form-group">
        <label for="dish">Dish</label>
        <input type="text" th:field="${dish.name}" class="form-control" id="dish" placeholder="Enter dish">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input  type="text" th:field="${dish.description}" class="form-control" id="description" placeholder="Description">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input  type="text" th:field="${dish.price}" class="form-control" id="price" placeholder="Price">
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <input  type="text" th:field="${dish.category}" class="form-control" id="category" placeholder="Category">
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input  type="text" th:field="${dish.quantity}" class="form-control" id="quantity" placeholder="Category">
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <input  type="text" th:field="${dish.type}" class="form-control" id="type" placeholder="Type">
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button th:with="text=${dish['new']} ? 'Add Menu' : 'Update Menu'"
                  class="btn btn-default" type="submit" th:text="${text}">Add Dish</button>
        </div>
      </div>

    </form>
    <script>
      //function that checks if there is an empty field in the form
      function isEmpty(form){
        var x=form.getElementsByTagName("input");
        for(var i=0;i<x.length;i++){
          if(x[i].value==0 || x[i].value==""){
            alert("Please insert " + x[i].id+ "!");
            return false;
          }
        }
        return true;
      }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
