<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Menu details</title>
        <link th:replace="fragments :: bootstrap_head">
    </head>
    <body>
        <div class>
            <div th:replace="fragments :: navbar"></div>


<h2>Dish Info</h2>


<table class="table table-striped" th:object="${menu}">
    <tr>
        <th>Dish</th>
        <td><b th:text="*{name}"></b></td>
    </tr>

    <tr>
        <th>Description</th>
        <td th:text="*{description}" /></td>
    </tr>
    <tr>
        <th>Price</th>
        <td th:text="*{price}" /></td>
    </tr>
    <tr>
        <th>Category</th>
        <td th:text="*{category}" /></td>
    </tr>
</table>

<a th:href="@{{id}/edit(id=${menu.id})}" class="btn btn-default">Edit
    Menu</a>

            <div th:replace="fragments :: footer"></div>

        </div>
        <div th:replace="fragments :: bootstrap_body"></div>
    </body>
</html>