<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:a="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Grilld</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
  <body>

    <h2>Welcome</h2>
    <a class="btn btn-default" th:href="@{/menu/find}">Find Menu</a>
<!--    <div class="row">-->
<!--        <div class="col-md-12">-->
<!--          <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>-->
<!--        </div>-->
<!--    </div>-->

  </body>

</html>